@font-face {
  font-family: 'HiraMinPro-W6-AlphaNum';
  src: url('/public/fonts/hiragino-mincho-pro-w6.eot'); /* IE9 Compat Modes */
  src: url('/public/fonts/hiragino-mincho-pro-w6.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/public/fonts/hiragino-mincho-pro-w6.woff') format('woff'), /* Modern Browsers */
       url('/public/fonts/hiragino-mincho-pro-w6.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/public/fonts/hiragino-mincho-pro-w6.svg#bb0d1078d23e3b9f1492fe6af5836f39') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}

